@model IEnumerable<Infrastructure.Entities.Category>

<h2>Избери категория</h2>
<ul>
    @foreach (var category in Model)
    {
        <li>
            <a asp-action="Products" asp-route-categoryId="@category.Id">
                @category.Name
            </a>
        </li>
    }
</ul>