@model Infrastructure.Entities.Category

<h2>Продукти в категория: @Model.Name</h2>
<ul>
    @foreach (var pc in Model.ProductCategories)
    {
        <li>
            <a asp-action="ProductDetails" asp-route-id="@pc.ProductId">
                @pc.Product.Name - @pc.Product.Price лв.
            </a>
        </li>
    }
</ul>