@model IEnumerable<Infrastructure.Entities.Product>
@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Active</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price.ToString("C")</td>
            <td>@item.IsActive</td>
        </tr>
    }
    </tbody>
</table>