
@model IEnumerable<Infrastructure.Entities.Category>


@{
    Layout = "_Layout";
    ViewData["Title"] = "Categories";
}
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/categories.css"/>

</head>
<body>
    <h2 class="mb-4">Категории</h2>

<div class="categories-container">
    @foreach (var category in Model)
    {
        <a asp-action="Products" asp-route-categoryId="@category.Id">
            <div class="category-item">
                @if (!string.IsNullOrEmpty(category.ImageUrl))
                {
                        
                    <div class="category">
                        <img src="@category.ImageUrl" alt="no image"/>
                        </div>
                }
                <p>@category.Name</p>
            </div>
        </a>
    }
</div>

</body>