@model IEnumerable<Infrastructure.Entities.Category>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Categories";
}

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach (var category in Model)
    {
        <div class="col mb-5">
            <div class="card h-100 shadow-sm">
                <a asp-action="Products" asp-route-categoryId="@category.Id" class="text-decoration-none text-dark">
                    <img src="@category.ImageUrl" class="card-img-top" alt="@category.Name" />
                    <div class="card-body p-4 text-center">
                        <h5 class="fw-bolder">@category.Name</h5>
                    </div>
                </a>
            </div>
        </div>
    }
</div>