@model IEnumerable<Infrastructure.Entities.Category>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Categories";
}

<div class="container mt-4">
    <h2 class="mb-4">Категории</h2>

    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-3 mb-4">
                <a asp-action="Products" asp-route-categoryId="@category.Id">
                    <div class="card h-100 shadow-sm text-center">
                        <img src="@category.ImageUrl" class="card-img-top" alt="@category.Name" />
                        <div class="card-body">
                            <h5 class="card-title">@category.Name</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>