@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<ul>
    <a asp-action="Products" class="btn btn-primary">Manage Products</a>
    <a asp-action="Categories" class="btn btn-primary">Manage Categories</a>
</ul>